<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../styles/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="../../styles/index.css">
	<link rel="stylesheet" type="text/css" href="../../styles/font-awesome.min.css">
	<link rel="shortcut icon" href="../../favicon.ico"/>
</head>
<title>BLOG</title>
<body>
	<section id="back_detail">
		<header></header>
		<div class="col-md-12 col-sm-12 col-xl-12 one main">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="ten" v-for="date in news" ><a :href="[date.new_tab]" class="five">{{date.name}}</a></li>
					</ul>
				</div>
				</div>
			</nav>
			<section class="col-md-12 col-sm-12 col-xl-12 one" style="height: 90%;">
				<div class="container">
					<ul class="breadcrumb">
						<li v-for="date in crumbs">
							<a :href="[date.new_tab]">{{date.name}}</a> <span class="divider"></span>
						</li>
					</ul>
				</div>
				<div class="col-md-12 col-sm-12 col-xl-12 one eight" v-for="date in detail">
					<div class="col-md-12 col-sm-12 col-xl-12 table">
						<div class="col-md-6 col-sm-6 col-xl-6">
							<span>{{date.title}}</span>
						</div>
						<div class="col-md-6 col-sm-6 col-xl-6" style="text-align: right;">
							<span>{{date.time}}</span>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xl-12 one nine">
						<div class="col-md-12 col-sm-12 col-xl-12 material" v-for="date in date.tail">
							<div class="col-md-12 col-sm-12 col-xl-12">
								<img v-bind:src="[date.img]" style="width:500px;height: 300px;" >
							<div class="col-md-12 col-sm-12 col-xl-12">
							<div class="col-md-12 col-sm-12 col-xl-12">
								<span>{{date.info}}</span>
							<div class="col-md-12 col-sm-12 col-xl-12">
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="col-md-12 col-sm-12 col-xl-12 one" style="position: fixed;"></footer>
	</section>
</body>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/echarts.js"></script>
	<script type="text/javascript" src="../../js/back.detail.js"></script>
	<script type="text/javascript" src="../../js/include.js"></script>
</html>
