<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../styles/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="../../styles/index.css">
	<link rel="stylesheet" type="text/css" href="../../styles/font-awesome.min.css">
	<link rel="shortcut icon" href="../../favicon.ico"/>
</head>
<title>BLOG</title>
<body>
	<section id="other">
		<header></header>
		<div class="col-md-12 col-sm-12 col-xl-12 one main">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid"> 
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">首页</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="ten" v-for="date in news" ><a :href="[date.new_tab]" class="five">{{date.name}}</a></li>
					</ul>
				</div>
				</div>
			</nav>
			<section class="col-md-12 col-sm-12 col-xl-12 one" style="height: 90%;">
				<div class="container">	
					<ul class="breadcrumb">
						<li v-for="date in crumbs">
							<a :href="[date.new_tab]">{{date.name}}</a> <span class="divider"></span>
						</li>
					</ul>
				</div>
				<div class="col-md-12 col-sm-12 col-xl-12 one title_new" style="">
					<div class="col-md-3 col-sm-3 col-xl-3 one" v-for="date in news_title" style="margin: 5px 0;">
						<a :href="[date.url]">
							<section class="news">
								<div class="col-md-12 col-sm-12 col-xl-12 one img"><img v-bind:src="[date.title]" class="img_head" /></div>
								<div class="col-md-12 col-sm-12 col-xl-12 one sever">{{date.content_info}}:{{date.content}}</div>
								<div class="col-md-12 col-sm-12 col-xl-12 one sever">{{date.release}}:{{date.time}}</div>
								<div class="col-md-12 col-sm-12 col-xl-12 one title"><span style="margin-left: -18%;">{{date.info}}</span></div>
							</section>
						</a>
					</div>
				</div>
			</section>
		</div>
		<footer class="col-md-12 col-sm-12 col-xl-12 one" style="position: fixed;width: 100%;"></footer>
	</section>
</body>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/echarts.js"></script>
	<script type="text/javascript" src="../../js/other.js"></script>
	<script type="text/javascript" src="../../js/include.js"></script>
</html>
